{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
<style>
  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }

  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }

  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
</style>
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">


                
                  <p>Please register yourself with an account</p>

                  <form action="{% url 'nregister' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/messages.html' %}
                    <div class="form-outline mb-4">
                      <input type="text" name="username" value="{{fieldValues.username}}" placeholder="Username"
                        id="UserNameField" class="form-control form-control-sm" />
                      <div class="FeedbackArea text-sm  invalid_feedback invalid-feedback" style="display:none"></div>
                      <p class="text-sm text-success usernameSuccessOutput"></p>
                    </div>

                    <div class="form-outline mb-4">
                      <input type="email" name="email" placeholder="Email" class="form-control form-control-sm"
                        id="EmailField" value="{{fieldValues.email}}" />
                        <div class="EmailFeedbackArea invalid-feedback invalid_feedback" style="display:none">
                        </div>
                    </div>
                    
                    <div class="form-outline mb-4">
                      <input type="password" name="password" class="form-control form-control-sm" placeholder="Password"
                      id="PasswordField" />
                      <small class="float-right  text-lead showPasswordToggle text-sm" style="padding-bottom:12px">SHOW</small>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <input type="submit" value="Register" class="btn submit-btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" ></input>
                  </form>
                  <a class="text-muted" href="{% url 'nreset' %}">Forgot password?</a>
              </div>

              <div class="d-flex align-items-center justify-content-center pb-4">
                <p class="mb-0 me-2">Already have an account?</p>
                <a href="{% url 'nlogin' %}" class="btn btn-outline-danger">Login here</a>
           
              </div>

              

            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
              <h4 class="mb-4">You're browsing more than just a expenses manager website</h4>
              <p class="small mb-0">Hey there! You get to see your incomes and expenses in the form of charts and graphs. We promise to help you with managing you expenses. Hope you have a wonderful experience in there!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<script src="{%  static 'java/register.js' %} "></script>


{% endblock content %}