{% extends 'base_auth.html' %}
{% load static %}
{% block content %}
<style>
  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }

  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }

  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
</style>
<section class="h-150 gradient-form" style="background-color: #eee;">
  <div class="container py-9 h-150">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-3">

<p>Enter your email to get password reset link</p>

                <form action="{% url 'nreset' %}" method="post">
                  {% csrf_token %}
                  {% include 'partials/messages.html' %}
                  <div class="form-group">
                    <input type="email" name="email" placeholder="Email" class="form-control form-control-sm"
                      id="EmailField" value="{{values.email}}" />
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <input type="submit" value="Submit"
                      class="btn submit-btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"></input>
                </form>

              </div>

              <div class="d-flex align-items-center justify-content-center pb-4">
                <p class="mb-0 me-2">Don't have an account?</p>
                <a href="{% url 'nregister' %}" class="btn btn-outline-danger">Register here</a>

              </div>

           

            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
              <h4 class="mb-4">We're sorry that you forgot your password. We'll help you out with it.</h4>
              <p class="small mb-0">Hey there! You get to see your incomes and expenses in form of charts and graphs. We
                promise to help you with managing you expenses. Hope you have a wonderful experience in there!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>


<form action="{% url 'nreset' %}" method="post">
  {% csrf_token %}
  {% include 'partials/messages.html' %}


  <div class="form-group">
    <input type="email" name="email" placeholder="Email" class="form-control form-control-sm" id="EmailField"
      value="{{values.email}}" />
  </div>


  <input type="submit" value="Submit" class="btn btn-block btn-primary submit-btn" />

  </div>
</form>




{% endblock content %}