
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Expenses {% block title %} {% endblock title %}</title>
  <link href=" {% static 'css/main.css' %} " rel="stylesheet" />
  <link href=" {% static 'css/dashboard.css' %} " rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
  <link href=" {% static 'css/bootstrap.css' %} " rel="stylesheet" />

</head>

<body>
  <main role="main">
    {% block content %} {% endblock content %}
  </main>
  <script src="{% static 'java/bootstrap.js' %} "></script>
  <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  <script src="{% static 'java/main.js' %} "></script>
</body>

</html>




